# git ignored files #

# all files #
*

# exlude ignoring git files #
!.gitignore
!.git

# exlude for custom scripts #
!/scripts/
!scripts/*

# exclude helpers
!helpers
!helpers/*

# exclude for bash scripts #
!/bin/
!bin/*
!/.ssh/
!.ssh/*

!.bash_profile
!.profile
!.bashrc
!.inputrc

# exclude vi(m) config and rest - have to specify folders explicitly
!.vimrc
!.vim
!.vim/colors
!.vim/colors/*

