# git ignored files #

# all files #
*

# exlude ignoring git files #
!.gitignore
!.git

# exlude for custom scripts #
!/scripts/
!/scripts/*

# exclude for bash scripts #
!/bin/
!bin/*
!/.ssh/
!.ssh/*

!.bash_profile
!.profile
!.bashrc
!.inputrc
